/* General Body Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
  background-color: #cbe3fc;
  color: #333;
}

h2 {
  text-align: center;
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Table Styling */
.table-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  margin-bottom: 10px;
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 40px 12px 40px 15px;
  text-align: left;
}

th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #36304a;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.trheader {
  border-bottom: 0.5px solid #747474;
}

.trheader:hover {
  border-top: 2px solid #000000;
  background-color: #d6e7fc;
  border-bottom: 2px solid #000000;
}

/* Button Component */
.btn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn-edit {
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  background-image: linear-gradient(180deg, #008bfe, #00bdef);
  color: white;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-edit:hover {
  background-image: linear-gradient(100deg, #008bfe, #00bdef);
  scale: 1.05;
  transform: translateY(-1px);
  box-shadow: 4px 5px 8px #747474;
}
.fa-pen-to-square,
.fa-delete-left {
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.fa-pen-to-square:hover,
.fa-delete-left:hover {
  scale: 1.2;
}

.btn-delete {
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  background-image: linear-gradient(180deg, #f20c84, #d601d9);
  color: white;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-delete:hover {
  background-image: linear-gradient(100deg, #f20c84, #d601d9);
  scale: 1.05;
  transform: translateY(-1px);
  box-shadow: 4px 5px 8px #747474;
}
.btn-add {
  border-radius: 20px;
  background-image: linear-gradient(100deg, #41ab6a, #aed577);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.fa-plus {
  font-size: 20px;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}

.fa-plus {
  scale: 1.2;
}
.btn-add:hover {
  background-image: linear-gradient(10deg, #41ab6a, #aed577);
  scale: 1.01;
  transform: translateY(-1px);
  box-shadow: 4px 5px 8px #747474;
}

.actions-cell {
  white-space: nowrap;
}
